
header h1{
  padding: 10px 20px;
}

.range{
margin-left: 3%;
margin-right: 3%;
}

.cart {
padding: 20px 50px;
}

.sort{
  font-size: 20px;
}

input[type="search"] {
  margin-bottom: 10px;
  border: 3px solid #ccc;
  background-color: #f2f2f2;
}  

.boxes {
margin-top: 20px;
}

.searchBox{
  margin-top: 30px;
}

.restrict{
display: flex;
flex-wrap: wrap;
}

.description{
margin-right: 20px;
}

.verify {
margin-top: 20px;
}

.submit {
margin-top:20px;
float: right;
}

.pagecheckout {
padding: 20px 50px;
}


.inventory-message {
margin-left: 20px;
font-weight: bold;
font-size: 100%;
}

.product {
width: 130px;
height: 130px;
max-height: 33%;
max-width: 100%;
}

.price{
  font-weight: bold;
  font-size: 20px;
}

.rating-active:before {
 content: "\2605";
 position: absolute;
}

.rating {
display: inline;
margin-left: 10px;
margin-top: 10px;
float:right;
}

.rating > span {
display: inline-block;
position: relative;
width: 1.1em;

}
